section{
    background-color: #f8f5f5;
    height: 300px;
    width: 450px;
    scale: 2;
    border-radius: 5px;
    box-shadow: 0 0 10px #9068ee80;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    position: relative;
}

section::before {
    font-family: Smoothy;
    color: #ffffff;
    text-shadow: 0px -1px 2px #ffffffa1;
    inset: -20px 185px;
    content: "Hello World!";
    position: absolute;
}

.star1, .star2, .star3, .star4, .star5, .star6 {
    position: absolute;
    width: 10px;
    animation: fadeout 3.5s infinite;
}

.star1{
    inset: 279px 12px;
}

.star2 {
    inset: 279px 25px;
}

.star3 {
    inset: 279px 38px;
}

.star4{
    inset: 10px 399px;
}

.star5{
    inset: 10px 412px;
}

.star6{
    inset: 10px 425px;
}

@media (max-width: 1600px){
    section {
        height: 260px
    }
    .star1 {
        inset: 242px 12px;
    }
    .star2 {
        inset: 242px 25px;
    }
    .star3 {
        inset: 242px 38px;
    }
    .star4 {
        inset: 7px 403px;
    }
    .star5 {
        inset: 7px 416px;
    }
    .star6 {
        inset: 7px 429px;
    }
}

@media (max-width: 1600px) {
    section::before {
        inset: -20px 175px;
    }
}

@media (max-width: 990px) {
    section {
        width: 400px;
        height: 250px;
    }
    section::before {
        inset: -15px 155px;
        font-size: 13px;
    }
}

@media (max-width: 840px) {
    section {
        width: 350px;
        height: 250px;
    }
    section::before {
        inset: -13px 140px;
        font-size: 11px;
    }
}

@media (max-width: 760px) {
    section{
        width: 250px;
        height: 400px;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 60px 1fr;
        grid-column-gap: 0px;
        grid-row-gap: 0px;
    }
    section::before {
        margin-left: 10px;
        inset: -13px 90px;
        font-size: 11px;
    }
}
